/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #08090d;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #08090d;
}

.bg-light {
  background-color: #efefef;
}

.rounded-button,
.button {
  padding: 1rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
  background-color: #fff;
  letter-spacing: 0.05rem;
}

.rounded-button {
  border: none;
  border-radius: 3rem;
}

.rounded-button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.button {
  border: none;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #08090d;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #08090d;
}

.bg-light {
  background-color: #efefef;
}

.container {
  max-width: 1127px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
}

.cols-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.cols-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.cols-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.cols-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.cols-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.cols-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.cols-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.cols-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.cols-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.cols-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.cols-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.cols-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

[class^='cols-'] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 1px;
}

@media screen and (max-width: 722px) {
  .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.v-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.square {
  display: block;
  width: 100px;
  height: 100px;
}

body {
  margin-bottom: 5rem;
}

.bg-test {
  background-color: darkseagreen;
  outline: 1px solid darkcyan;
}

.shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-1-hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-1-hover:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.11);
}

.shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2-hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2-hover:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-1-hover,
.shadow-2-hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #08090d;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #08090d;
}

.bg-light {
  background-color: #efefef;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #08090d;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.message {
  padding: 2rem;
}

.message h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.border-1 {
  border-radius: 3px;
}

.border-2 {
  border-radius: 6px;
}

.border-3 {
  border-radius: 9px;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #08090d;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}
/*# sourceMappingURL=style.css.map */