.white {
  color: $white;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.orange {
  color: $orange;
}
.purple {
  color: $purple;
}

.dark {
  color: $color-1;
}
.light {
  color: $color-6;
}

// bg
.bg-yellow {
  background-color: $yellow;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-orange {
  background-color: $orange;
}
.bg-purple {
  background-color: $purple;
}
.bg-dark {
  background-color: $color-1;
}
.bg-light {
  background-color: $color-6;
}
