$color-1: #08090d;
$color-2: #1a1e26;
$color-3: #343a40;
$color-4: #6e7371;
$color-5: #a1a69c;
$color-6: #efefef;

$white: #fff;
$yellow: #f4b942;
$green: #97d8c4;
$blue: #6b9ac4;
$orange: #fe5f55;
$purple: #6a66a3;
$black: #000;

$ss: 'Poppins', Helvetica, Arial, sans-serif;
$cs: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
